In [1]:
import pandas as pd

In [2]:
users = pd.read_json('JSONS/users.json', lines=True)
receipts = pd.read_json('JSONS/receipts.json', lines=True)
brands = pd.read_json('JSONS/brands.json', lines=True)

In [7]:
#When considering total number of items purchased from receipts with 'rewardsReceiptStatus’ of ‘Accepted’ or ‘Rejected’, which is greater?
#There is not an "Accepted" status for rewardsReceiptStatus in this dataset, so I will assume "FLAGGED" is the "Accepted" category.
#in this case the 'Rejected' status for rewardsReceiptStatus has a greater total number of items purchased.
receipts.groupby('rewardsReceiptStatus').count()

,_id,bonusPointsEarned,bonusPointsEarnedReason,createDate,dateScanned,finishedDate,modifyDate,pointsAwardedDate,pointsEarned,purchaseDate,purchasedItemCount,rewardsReceiptItemList,totalSpent,userId
rewardsReceiptStatus,,,,,,,,,,,,,,
FINISHED,518,456,456,518,518,518,518,514,518,518,518,516,518,518
FLAGGED,46,30,30,46,46,0,46,19,33,35,46,46,46,46
PENDING,50,0,0,50,50,50,50,0,0,49,0,49,49,50
REJECTED,71,58,58,71,71,0,71,4,58,69,71,68,71,71
SUBMITTED,434,0,0,434,434,0,434,0,0,0,0,0,0,434

In [8]:
#When considering average spend from receipts with 'rewardsReceiptStatus’ of ‘Accepted’ or ‘Rejected’, which is greater?
#With respect to the question above, following my same reasoning from the first question, the average spend of "FLAGGED"
# which will be considered the "ACCEPTED" status, is greater than the rejected status by an average of $153.12 rounded to the nearest tenth.
# This likely suggests that in order to receive an "ACCEPTED" status on the rewardsReceiptStatus, a user must spend a certain amount of money.
# This finding is inline with many other popular rewards programs consumers use today.
receipts.groupby('rewardsReceiptStatus').mean()

,bonusPointsEarned,pointsEarned,purchasedItemCount,totalSpent
rewardsReceiptStatus,,,,
FINISHED,240.839912,544.664865,15.799228,80.854305
FLAGGED,452.166667,2065.000000,22.043478,180.451739
PENDING,NaN,NaN,NaN,28.032449
REJECTED,113.275862,113.275862,2.436620,23.326056
SUBMITTED,NaN,NaN,NaN,NaN

In [ ]:
# The first data quality issue I see in the dataset is the representation of dates as NumPy objects, rather
# than datetime strings. This creates the issue of having unparseable dates if the data has the need to be reviewed
# in another computing language, like Python. Worst case scenario, some comparisons in this format can likely
# only be made in the environment where the datetimes retain their original structure, or the compression of the data
# into a JSON needs to be attempted again to maintain the datetime structure, or a non-compressed and non-serialized 
# file format should attempt to be used, like CSV.

In [31]:
receipts['createDate'] = pd.to_datetime(receipts['createDate'], format='%Y%m%d')

ValueError: time data '{'$date': 1609687531000}' does not match format '%Y%m%d' (match)

In [32]:
receipts

,_id,bonusPointsEarned,bonusPointsEarnedReason,createDate,dateScanned,finishedDate,modifyDate,pointsAwardedDate,pointsEarned,purchaseDate,purchasedItemCount,rewardsReceiptItemList,rewardsReceiptStatus,totalSpent,userId
0,{'$oid': '5ff1e1eb0a720f0523000575'},500.0,"Receipt number 2 completed, bonus point schedu...",{'$date': 1609687531000},{'$date': 1609687531000},{'$date': 1609687531000},{'$date': 1609687536000},{'$date': 1609687531000},500.0,{'$date': 1609632000000},5.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,26.00,5ff1e1eacfcf6c399c274ae6
1,{'$oid': '5ff1e1bb0a720f052300056b'},150.0,"Receipt number 5 completed, bonus point schedu...",{'$date': 1609687483000},{'$date': 1609687483000},{'$date': 1609687483000},{'$date': 1609687488000},{'$date': 1609687483000},150.0,{'$date': 1609601083000},2.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,11.00,5ff1e194b6a9d73a3a9f1052
2,{'$oid': '5ff1e1f10a720f052300057a'},5.0,All-receipts receipt bonus,{'$date': 1609687537000},{'$date': 1609687537000},NaN,{'$date': 1609687542000},NaN,5.0,{'$date': 1609632000000},1.0,"[{'needsFetchReview': False, 'partnerItemId': ...",REJECTED,10.00,5ff1e1f1cfcf6c399c274b0b
3,{'$oid': '5ff1e1ee0a7214ada100056f'},5.0,All-receipts receipt bonus,{'$date': 1609687534000},{'$date': 1609687534000},{'$date': 1609687534000},{'$date': 1609687539000},{'$date': 1609687534000},5.0,{'$date': 1609632000000},4.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,28.00,5ff1e1eacfcf6c399c274ae6
4,{'$oid': '5ff1e1d20a7214ada1000561'},5.0,All-receipts receipt bonus,{'$date': 1609687506000},{'$date': 1609687506000},{'$date': 1609687511000},{'$date': 1609687511000},{'$date': 1609687506000},5.0,{'$date': 1609601106000},2.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,1.00,5ff1e194b6a9d73a3a9f1052
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1114,{'$oid': '603cc0630a720fde100003e6'},25.0,COMPLETE_NONPARTNER_RECEIPT,{'$date': 1614594147000},{'$date': 1614594147000},NaN,{'$date': 1614594148000},NaN,25.0,{'$date': 1597622400000},2.0,"[{'barcode': 'B076FJ92M4', 'description': 'mue...",REJECTED,34.96,5fc961c3b8cfca11a077dd33
1115,{'$oid': '603d0b710a720fde1000042a'},NaN,NaN,{'$date': 1614613361873},{'$date': 1614613361873},NaN,{'$date': 1614613361873},NaN,NaN,NaN,NaN,NaN,SUBMITTED,NaN,5fc961c3b8cfca11a077dd33
1116,{'$oid': '603cf5290a720fde10000413'},NaN,NaN,{'$date': 1614607657664},{'$date': 1614607657664},NaN,{'$date': 1614607657664},NaN,NaN,NaN,NaN,NaN,SUBMITTED,NaN,5fc961c3b8cfca11a077dd33
1117,{'$oid': '603ce7100a7217c72c000405'},25.0,COMPLETE_NONPARTNER_RECEIPT,{'$date': 1614604048000},{'$date': 1614604048000},NaN,{'$date': 1614604049000},NaN,25.0,{'$date': 1597622400000},2.0,"[{'barcode': 'B076FJ92M4', 'description': 'mue...",REJECTED,34.96,5fc961c3b8cfca11a077dd33
1118,{'$oid': '603c4fea0a7217c72c000389'},NaN,NaN,{'$date': 1614565354962},{'$date': 1614565354962},NaN,{'$date': 1614565354962},NaN,NaN,NaN,NaN,NaN,SUBMITTED,NaN,5fc961c3b8cfca11a077dd33